@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'variables';
// @import 'buttons';

@import '~bootstrap/scss/bootstrap.scss';

path:focus {
  outline: 0;
  user-select: none;
}

.modal-dialog {
  max-width: 800px !important;
}
